.input input {
  font-family: 'Poppins';
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
